#header {
  background-color: #001226;
  position: static;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1.3rem;
  display: flex;
}

#header h2 {
  font-family: DecoturaICG;
  font-size: 2.8rem;
  color: white;
  margin-left: 54rem;
  margin-top: .8rem;
}


