#header {
  background-color: #001226;
  position: static;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1.3rem;
  display: flex;
  margin-bottom: 3.5rem;
}



#header h2 {
  font-family: DecoturaICG;
  font-size: 2.8rem;
  color: white;
  margin-left: 54rem;
  margin-top: .8rem;

}

@media(max-width: 1075px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 36rem;
    margin-top: .8rem;
  }
}

@media(max-width: 1061px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 34rem;
    margin-top: .8rem;
  }
}

@media(max-width: 1031px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 30rem;
    margin-top: .8rem;
  }
}

@media(max-width: 973px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 28rem;
    margin-top: .8rem;
  }
}

@media(max-width: 935px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 24rem;
    margin-top: .8rem;
  }
}

@media(max-width: 873px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 20rem;
    margin-top: .8rem;
  }
}

@media(max-width: 873px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 20rem;
    margin-top: .8rem;
  }
}

@media(max-width: 779px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 17rem;
    margin-top: .8rem;
  }
}

@media(max-width: 763px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 14rem;
    margin-top: .8rem;
  }
}

@media(max-width: 719px){
  #header h2 {
    font-family: DecoturaICG;
    font-size: 2.8rem;
    color: white;
    margin-left: 11rem;
    margin-top: .8rem;
  }
}
