<body>
  <div class="d-flex justify-content-center pt-3">
      <h1>{{getVideoSelecionado().titulo.toUpperCase()}}</h1>
  </div>

  <div class="d-flex justify-content-center px-5 pb-5 pt-0">
      <app-video [video]="getVideoSelecionado()"></app-video>
  </div>

  <div class="d-flex justify-content-between px-5 pb-5 pt-0">
      <button class="d-flex btn back" (click)="voltar()" [disabled]="videoIndex === 0">
          VOLTAR
      </button>
      <button class="d-flex btn next" (click)="proximo()">
        {{buttonMessage}}
      </button>
  </div>
</body>
