<body>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 d-flex justify-content-center">
      <iframe [src]="getSanitazedVideoURl()" [title]="videoId.titulo"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>

    </div>
  </div>

  <div class="d-flex justify-content-between px-5 pb-5 pt-0">

    <button class="d-flex btn back botao-back" (click)="voltar()">VOLTAR</button>

    <button class="d-flex btn next botao-next" (click)="proximo()">PRÓXIMO</button>
  </div>
</body>
